.moreInfo {
	
	display: none;	
}

.expanded .moreInfo {
	
	display: block;
}

.readMore {
	margin-left: -339px;
	margin: 0;
	font-size: 13px;
	font-weight: normal;
	color: red;
	font-family: Georgia;
}

.exampleFromClass {

	font-size: 30px;
	width: 700px;
	margin: 0 auto;
	line-height: 35px;
	font-family: 'calibri';
	margin-bottom: 10px;
	text-align: left;
}

/*creating three new style classes to try and mirror the style of The Irish Times; see here: http://www.irishtimes.com/
 *
 * found it difficult to pull style attributes from the console; could not match up exact details with different parts of text
 */

.mainQuote {

	margin-left: -339px;
	margin: 0;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5em;
	font-family: Georgia;
	width: 100%;
	zoom: 1;
	height: 100%;
	min-height: 100%;
	display: block;
	color: black;
}

.wholeQuote {
	
	margin-left: -339px;
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2em;
	font-family: Georgia;
	width: 100%;
	zoom: 1;
	height: 100%;
	min-height: 100%;
	
	color: #515151;
	text-align: left;
}
.details {
	margin-left: -339px;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	font-family: "Times New Roman";
	width: 12%;
	zoom: 1;
	height: 100%;
	min-height: 100%;
	color: black;
	background:#f60!important;
	
}


